<div class="add-news-page">
    <h1>Adicione uma notícia</h1>

    <form>
        <label for="title" class="formItem">
            <p>Titulo</p>
            <input
                class="input"
                type="text"
                id="title"
                name="title"
                [(ngModel)]="newsObj.title"
                required
            />
        </label>

        <label for="body" class="formItem">
            <p>Descrição</p>
            <textarea
                class="input"
                type="text"
                id="body"
                name="body"
                [(ngModel)]="newsObj.body"
                required
            ></textarea>
        </label>

        <label for="image" class="formItem"
            ><p>URL da imagem</p>
            <input
                class="input"
                type="text"
                id="image"
                name="image"
                [(ngModel)]="newsObj.image"
                required
            />
        </label>

        <div class="button-container">
            <button class="submit" (click)="addNews()">Adicionar</button>
        </div>
    </form>
</div>
