<ngx-loading-bar height="5px" [includeSpinner]="false"></ngx-loading-bar>

<div class="search-page">
    <div class="search-head">
        <h1>Exibindo resultado de busca por "{{ search }}"</h1>
        <p class="subtitle">
            Encontramos um total de {{ data.length }} resultados para a sua
            busca
        </p>
    </div>

    <div class="news-container">
        <div *ngFor="let n of data" class="item">
            <app-card
                [image]="n.image"
                [title]="n.title"
                [body]="n.body"
                [id]="n.id"
            ></app-card>
        </div>
    </div>
</div>
