.page-container {
    //margin: 20px 40px;
    margin: 2vw 4vw;
    .content-container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        // justify-content: center;
        justify-content: space-between;


        app-sidebar {
            width: 600px;
            //width: 50%;
        }
        
    }
}


@media screen and (max-width: 630px) {
    .page-container {
        .content-container {
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}
    