.page-container {
    //margin: 20px 40px;
    margin: 2vw 4vw;
    .content-container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        // justify-content: center;
        justify-content: space-between;

        app-sidebar {
            min-width: 250px;
            //margin-top: 100px;
            margin-top: 5vw;
        }
        
    }
}


@media screen and (max-width: 800px) {
    .page-container {
        .content-container {
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}
    