<div>
    <h1>Exibindo resultados de busca por "RESULTADO BUSCA@#@##@#"</h1>
    <h5>Encontramos um total de X resultados para sua busca</h5>
</div>

<div>
    <nav>
        <span>Categorias</span>
        <ul>
            <li><a href="#">Categoria 1</a></li>
            <li><a href="#">Categoria 2</a></li>
            <li><a href="#">Categoria 3</a></li>
            <li><a href="#">Categoria 4</a></li>
        </ul>
    </nav>

    <div>
        <p>Procurando alguma notícia?</p>
        <!-- adicionar icone da lupa -->
        <input type="text" placeholder="Pesquisar por..."> 
    </div>
</div>

<div>
    
</div>